<div class="grid grid-cols-2 gap-4">
  <div class="col-span-1">
    <%= yield %>
  </div>
  <div class="col-span-1 flex flex-col items-center mx-auto space-y-6 max-w-4xl text-center mb-12">
    <h1 class="font-bold text-5xl">Fill your google forms <span class="italic underline">FAST</span> in your company using <span class="flex justify-center items-center"> <%= image_tag 'slack_logo', class: "w-8 h-8 mr-4" %> Slack DMs</span></h1>
    <p class="text-green-500 font-bold tracking-wide	">Don't wait to be ignored, get feedback (Fast)</p>
    <p class="text-gray-300 text-lg">DM your google forms to many coworkers in just one click and fill your form in 90 minutes, not weeks.</p>
  </div>
</div>
