<div class="flex flex-col items-center mx-auto max-w-6xl text-center mb-12 space-y-24">
  <div class="space-y-8 items-center flex flex-col">
    <h1 class="font-bold text-5xl"><span class="flex justify-center items-center"> <%= image_tag 'slack_logo.png', class: "w-8 h-8 mr-4" %> Slack DM</span> 100s of people with one click</h1>
    <p class="text-lg">This is not a BOT, it impersonates your account.</p>
  </div>
  <%= render "home/cta" %>
  <div class="text-left">
    <h2 class="text-3xl text-center font-bold leading-2 mb-8">Use cases:</h2>
    <div class="flex max-w-[600px] flex-col gap-3">
      <div class="rounded-md bg-zinc-800 p-6">
        <div class="text-lg font-semibold text-zinc-100">1. Sending end-of-quarter feedback forms</div>
        <div class="text-zinc-400">Get replies when sending feedback forms to your team.</div>
      </div>
      <div class="rounded-md bg-zinc-800 p-6">
        <div class="text-lg font-semibold text-zinc-100">2. Event feedback from participants</div>
        <div class="text-zinc-400">Get feedback fast from your events to improve for the next one.</div>
      </div>
      <div class="rounded-md bg-zinc-800 p-6">
        <div class="text-lg font-semibold text-zinc-100">3. Track what you send and to whom</div>
        <div class="text-zinc-400">Keep your previous messages and emails list saved to create new targeted slack channels.</div>
      </div>
      <div class="rounded-md bg-zinc-800 p-6">
        <div class="text-lg font-semibold text-zinc-100">4. Ask people to book a networking meeting</div>
        <div class="text-zinc-400">Book one-on-one, launch, or just a coffee with your peers by using DMs instead of imposing a slot.</div>
      </div>
    </div>
  </div>
</div>
<% if false %>
  <div class="my-12 space-y-3">
    <p>Made with ❤️ by - <a class="text-indigo-500 underline" href="https://linktr.ee/roland_lopez">Roland Lopez</a></p>
    <p>Special credits to <a class="text-indigo-500 underline" href="https://twitter.com/nico_jeannen">Nico</a> from <a class="text-indigo-500 underline" href="https://makerads.guide/">MakerAds.guide</a> for the landing page inspiration ;)</p>
  </div>
<% end %>
